In [27]:
import pandas as pd
from dateutil.relativedelta import relativedelta
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import math
pd.set_option('display.max_rows', 50)
from datetime import date, timedelta
import time
from tqdm import tqdm

from datetime import datetime
import pyodbc
import matplotlib
from matplotlib.pyplot import figure
# from data import Data
import matplotlib.pyplot as plt
# d = Data()
import functools as ft
# from fetchdata import *
from rebalancedate import *
# from liquidity import *
from execution import *
from OutputExcel import *

In [28]:
# Specify the file path
file_path = r'C:\Users\AKSHAT\Desktop\Data\price_data.csv'
# Specify the columns you want to use
columns_to_use = ['Date','High','Low', 'Symbol','Close', 'Mcap',]
# Read the CSV file with specific columns
data = pd.read_csv(file_path, usecols=columns_to_use)
# Display the first few rows of the dataframe
data=data[data['Date']>='2006']
data.drop_duplicates(['Date','Symbol'],inplace=True)
data['Date'] = pd.to_datetime(data['Date'])

In [29]:
#Rebalance Day Function
rebalanceFrequency=2
op=rebalancedates(data,'2007-08-07',15,rebalanceFrequency)
rebalanceDay=op[1]

In [31]:
#Your Data Frame Here
#Your Data Frame Should Have 'Weight' column in Percentage
portfliosize=25
df= pd.read_table('vol_factor_NH-20%L.csv', sep=',')
df['Date'] = pd.to_datetime(df['Date'])
df=df[df['Date'].isin(rebalanceDay)]
df=df.groupby('Date').apply(lambda x:x.sort_values('Rank_HL',ascending=True).head(portfliosize)).reset_index(drop=True)
df['Weight']=100/portfliosize

In [32]:
df

           Date      Symbol  Rank_HL  Weight
0    2007-08-20    DIVISLAB        1     4.0
1    2007-08-20  JISLJALEQS        1     4.0
2    2007-08-20    JSWSTEEL        3     4.0
3    2007-08-20          LT        4     4.0
4    2007-08-20   KOTAKBANK        5     4.0
...         ...         ...      ...     ...
2495 2024-02-20    ASIANENE       19     4.0
2496 2024-02-20     BRIGADE       19     4.0
2497 2024-02-20  DYNAMATECH       19     4.0
2498 2024-02-20      COLPAL       24     4.0
2499 2024-02-20     COFORGE       25     4.0

[2500 rows x 4 columns]

In [33]:
df.to_excel('Vol_test_NH_20%_Weight.xlsx', index=False)